cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
google-api-core==1.21.0
google-auth==1.18.0
google-cloud-media-translation==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
idna==2.10
numpy==1.19.0
pkg-resources==0.0.0
proto-plus==1.0.0
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
pygame==1.9.6
pytz==2020.1
requests==2.24.0
rsa==4.7
six==1.15.0
sounddevice==0.4.0
urllib3==1.25.9