body {
  background-color: white;
}

/* Links sidebar */
ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #009925;
  position: fixed;
}

/* Links to other pages */
ul.links li a {
  display: block;
  color: white;
  padding: 8px 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid white;
}

/* No division between last link and bottom of sidebar */
ul.links li:last-child {
  border-bottom: none;
}

/* Change color of links when hovered over */
ul.links li a:hover {
  background-color: #EEB211;
  color: white;
}

/* Title of page */
h1 {
  color: #3369E8;
  text-align: center;
  text-shadow: 0px 1px 1px #3369E8;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  border-bottom: 3px solid #3369E8;
  padding: 15px;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

/* No search results styling on Search page */
h2 {
  color: #D50F25;
  text-align: center;
  font-size: 20px;
}

ul.notification {
  margin: 10px;
  margin-left: 20%;
  list-style-type: circle;
  font-family: 'Roboto', sans-serif;
}

ul.notification li {
  color: #D50F25;
}

ul.notification li p {
  font-size: 20px;
  font-family: 'Roboto', serif;
  color: black;
}

/* Keeps thumbnails from being too far to the left or right on page */
div.gallery {
  margin-left: 12%;
  margin-right: 10%;
}

/* Box for thumbnail image and caption */
div.thumbnail {
  margin: 5px;
  float: left;
  width: 180px;
  height: 240px;
}

/* Format thumbnails in a table */
div.thumbnail:after {
  content: "";
  display: table;
  clear: both;
}

/* Add effects when thumbnail image is hovered over */
div.thumbnail img:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Center image in thumbnail box */
div.thumbnail img {
  display: block;
  margin: auto;
}

/* Center caption below thumbnail image */
div.descent {
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Format pop-up that appears when a thumbnail is clicked */
div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

/* Position the box to hold photo scrolling */
div.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 55%;
  max-width: 700px;
}

/* Format size and position of larger image */
div.mySlides img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* Format caption for larger image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
  height: 50px;
}

/* Place 'x' to close pop-up when done scrolling through photos */
span.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* Change color of 'x' and pointer when 'x' is hovered over */
span.close:hover,
span.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Default is not to display mySlides */
div.mySlides {
  display: none;
}

/* Place next and previous arrows over photo to enable scrolling */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position next arrow on right side of photo */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Add background to arrows when hovered over */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Place number of current photo in top left, i.e. 1/5 */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Position caption below photo */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

/* Center the search bar on the Search page */
form.search {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

