<link rel="stylesheet" href="/static/style.css" type="text/css">
<block body>
    <form action="/login" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>
                
                <div class="login-form">
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="username" name="username">
                        <label class="login-field-icon fui-user" for="login-name"></label></div>
                    <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="password" name="password">
                        <label class="login-field-icon fui-lock" for="login-pass"></label></div>
                    {% for message in get_flashed_messages() %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                    <input type="hidden" value="{{ redirect_url }}" id="redirect_url" name="redirect_url">
                </div>
            </div>
        </div>
    </form>
<endblock>