<!DOCTYPE html>
<html>

  <head>
    <title>Photos</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>

    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/search">Search</a></li>
    </ul>

    <h1>Photos</h1>

    <!--Use a for loop where indices of thumbnail references and their corresponding
    thumbnails match up so that info from references can be assigned to the appropriate
    thumbnail image-->
    <div class="gallery">
      {% for img_url, thumbnail_reference in thumbnails.iteritems() %}
      <div class="thumbnail">
        <img id='{{thumbnail_reference.thumbnail_name}}' src='{{img_url}}'>
        <div class="descent">{{thumbnail_reference.thumbnail_name}}</div>
      </div>
      {% endfor %}

      <!--Add the ability to click on thumbnails from above for loop and scroll through the original uploaded photos-->
      <div id='myModal' class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-content">
        {% for img_url, thumbnail_reference in thumbnails.iteritems() %}
          <div class="mySlides">
            <div class="numbertext" id="num">{{loop.index}} / {{thumbnails|length}}</div>
            <img id='{{loop.index}}' src='{{thumbnail_reference.original_photo}}' alt='{{thumbnail_reference.thumbnail_name}}'>
          </div>
        {% endfor %}
          <a class="prev" onclick="plusSlides(-1)">&#10094</a>
          <a class="next" onclick="plusSlides(1)">&#10095</a>

          <div class="caption-container">
            <p id="caption"></p>
          </div>
        </div>
      </div>
      {% for img_url, thumbnail_reference in thumbnails.iteritems() %}
      <script>
        var modal = document.getElementById('myModal');
        var img = document.getElementById('{{thumbnail_reference.thumbnail_name}}');
        img.onclick = function(){
          modal.style.display = "block";
          currentSlide({{loop.index}});
        }
      </script>
      {% endfor %}
    </div>

    <script>
        function closeModal() {
          document.getElementById('myModal').style.display = "none";
        }

        var slideIndex;

        //Go forward or backward through photos
        function plusSlides(n) {
          slideIndex += n;
          showSlides(slideIndex);
        }

        //Called when a thumbnail is clicked on
        function currentSlide(n) {
          slideIndex = n;
          showSlides(slideIndex);
        }

        //Show the correct slide with image and caption
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName('mySlides');
          var captionText = document.getElementById("caption");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          var image = document.getElementById(slideIndex + "");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          slides[slideIndex-1].style.display = "block";
          captionText.innerHTML = image.alt;
        }

    </script>

  </body>
</html>
