<strong class="formElements">Legend:</strong>
<table style="margin-left: 40px; padding-top: 5px; padding-bottom: 15px;">
  <tr ng-repeat="colorInfo in $ctrl.colorsMapArray" ng-if="$even" style="margin-bottom: 2px">
    <td style="width: 60px; background-color:{{ $ctrl.colorsMapArray[$index].color}}; border: 2px solid #FFFFFF"></td>
    <td style="padding: 5px;">{{ $ctrl.colorsMapArray[$index].state }}</td>
    <td ng-if="$index + 1 < $ctrl.colorsMapArray.length"
        style="width: 60px; background-color:{{ $ctrl.colorsMapArray[$index + 1].color}}; border: 2px solid #FFFFFF"></td>
    <td ng-if="$index + 1 < $ctrl.colorsMapArray.length" style="padding: 5px;">{{ $ctrl.colorsMapArray[$index + 1].state }}</td>
    <td ng-if="$index + 1 === $ctrl.colorsMapArray.length"></td>
    <td ng-if="$index + 1 === $ctrl.colorsMapArray.length"></td>
  </tr>
</table>