<uib-accordion>
  <div uib-accordion-group
       class="panel-default light-blue"
       is-open="$ctrl.expandPicker">

    <uib-accordion-heading>
      Project and MIG <i class="pull-right glyphicon"
                         ng-class="{'glyphicon-chevron-down': true,
                                    'glyphicon-chevron-right': false}"></i>
    </uib-accordion-heading>

    <form class="form-inline">
      <fieldset>
        <legend>Provide project ID</legend>
        <div class="form-group mx-sm-3">
          <input type="text"
                 class="form-control"
                 id="inputProjectId"
                 autocomplete="off"
                 ng-model="projectId"
                 placeholder="project ID"
                 uib-typeahead="project for project in $ctrl.filter($viewValue, $ctrl.maxTypeaheadHints)"
                 typeahead-loading="loadingLocations"
                 typeahead-no-results="noResults" />
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No projects found
          </div>
        </div>
        <button type="submit"
                class="btn btn-primary"
                ng-click="$ctrl.loadInstanceGroups(projectId)">
          Load Instance Groups
        </button>
      </fieldset>
    </form>

    <br />

    <form class="form-inline" ng-if="$ctrl.instanceGroupManagers">
      <fieldset>
        <legend>Pick instance group</legend>
        <table class="table table-sm" style="width: auto">
          <thead>
          <th></th>
          <th>Name</th>
          <th>Scope</th>
          <th>Backend service</th>
          </thead>
          <tbody ng-repeat="(gceScopeName, igms) in $ctrl.instanceGroupManagers">
          <tr ng-repeat="igm in igms">
            <td>
              <button class="btn btn-primary btn-xs"
                      ng-click="$ctrl.onInstanceGroupManagerSelected(gceScopeName, igm)">select</button>
            </td>
            <td style="vertical-align: center">
              {{ igm.name }} <span style='color: #999999'>({{ igm.targetSize }})</span>
            </td>
            <td style="vertical-align: center">{{ gceScopeName }}</td>
            <td>{{ igm.backendService || "N/A" }}</td>
          </tr>
          </tbody>
        </table>
      </fieldset>
    </form>
  </div>
</uib-accordion>

