<div class="mainContentMargin" ng-show="$ctrl.vmMap !== null">
  <message-box message="$ctrl.messageForUser" type="$ctrl.messageType"></message-box>
  <div ng-show="!$ctrl.vmMap.isEmpty()">
    <form class="form-inline formElements">
      <fieldset>
        <legend>
          Monitor your instance group <b>{{ $ctrl.vmMap.migName }}</b>
        </legend>

        <strong>Timespan:</strong>
        <div class="form-group mx-sm-2">
          <input type="number"
                 class="form-control input-sm"
                 size="5"
                 ng-model="$ctrl.timespan" />
        </div>
        seconds
        <br /><br/>
        <strong>Group by zone:</strong>
        <input type="checkbox" ng-model="$ctrl.groupByZone">
      </fieldset>
    </form>
    <br />

    <uib-tabset active="active">
      <uib-tab index="0" heading="Instance status">
        <instances-chart
          colors-map="$ctrl.colorsMap"
          history-map="$ctrl.vmStateHistory"
          instances-order="$ctrl.instancesOrder"
          group-by-zone="$ctrl.groupByZone"
          timespan="$ctrl.timespan"
          container-id="history-instances-status-container"></instances-chart>
        <br />
        <color-map-legend colors-map="$ctrl.colorsMap"></color-map-legend>
      </uib-tab>
      <uib-tab index="1" heading="Summary">
        <instances-summary-chart
            colors-map="$ctrl.colorsMap"
            history-map="$ctrl.vmStateHistory"
            group-by-zone="$ctrl.groupByZone"></instances-summary-chart>
        <br />
        <color-map-legend colors-map="$ctrl.colorsMap"></color-map-legend>
      </uib-tab>
      <uib-tab index="2" heading="Instance health" ng-if="$ctrl.showHealthChart">
        <instances-chart
            colors-map="$ctrl.colorsHealthMap"
            history-map="$ctrl.vmHealthHistory"
            instances-order="$ctrl.instancesOrder"
            group-by-zone="$ctrl.groupByZone"
            timespan="$ctrl.timespan"
            container-id="health-instances-status-container"></instances-chart>
        <br />
        <color-map-legend colors-map="$ctrl.colorsHealthMap"></color-map-legend>
      </uib-tab>
    </uib-tabset>

    <br /><br/>
  </div>
</div>
