<div class="paddedChart">
  <div id="{{ $ctrl.containerId }}"></div>
</div>
<br />
<table class="summaryLegend table-bordered table-hover centered">
  <tbody ng-if="$ctrl.groupByZone === false">
    <tr><th>State</th><th>Count</th></tr>
    <tr ng-repeat="info in $ctrl.summaryInfo">
      <td>{{ info.state }}</td>
      <td>{{ info.count }}</td>
    </tr>
  </tbody>
  <tbody ng-if="$ctrl.groupByZone === true">
    <tr>
      <th>Zone</th><th>State</th><th>Count</th>
    </tr>
    <tr ng-repeat="info in $ctrl.summaryInfo">
      <td rowspan="{{ info.possibleStates }}" ng-if="$index % info.possibleStates === 0">{{ info.zone }}</td>
      <td>{{ info.state }}</td>
      <td>{{ info.count }}</td>
    </tr>
  </tbody>
</table>