:host {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 800px;
  width: 96%;
  margin: 0 auto;
}

.lds-dual-ring {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
