# Ignore the following directories when doing a Docker build.
# These directories will contain artifacts for local (not-in-Docker) builds,
# and it is best to omit them to ensure a clean build in Docker.

# Note: If you are using an umbrella app, you might need to add more
# directories to this list.

/_build/
/assets/node_modules/
/deps/
/doc/
/priv/static/
/test/
/tmp/
