{{ template "header" . }}
  <div id="container" class="hidden">
    <p>Welcome <span id="userEmail"></span></p>
    <p>This is the home page.</p>
    <div id="gotobeta" class="notice hidden">
      <p>You have signed up for the beta. Go <a href="beta">try it out</a>!</p>
    </div>
    <p>Update your <a href="prefs">preferences</a>.</p>
    <p><button id="signout">Sign out</button></p>
  </div>
{{ template "footer" . }}
