[Unit]
Description=telemetry relay
Requires=local-fs.target
After=rsyslog.service

[Service]
# Type=forking
Type=simple
GuessMainPID=no
StandardInput=null
User=root
Group=root
ExecStart=/usr/local/bin/go-relay
Restart=always
RestartSec=1


[Install]
WantedBy=default.target
