<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="example-header-image"
      [ngStyle]="{ backgroundImage: 'url(' + employeeDetails.avatarURL + ')' }"
    ></div>
    <mat-card-title
      >{{ employeeDetails.firstName }}
      {{ employeeDetails.lastName }}</mat-card-title
    >
    <mat-card-subtitle>{{ employeeDetails.jobTitle }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ employeeDetails.imageURL }}"
    height="200"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onDelete()" mat-button>
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
