
#------------------
# LTK configuration
#------------------

# Set this to the directory where LTK was cloned to from Github (full path name)
LTK_ROOT=

# Set this to the number of worker pods you want to use. 
# Devices in devicelist.csv will be sharded automtically across the workers.
# The number of workers can more or less than the number of GKE nodes, but normally they would be the same.
LTK_NUM_LOCUST_WORKERS=1

# Set this to the number of GKE nodes (GCE VMs) you want to use to run the worker pods.
LTK_NUM_GKE_NODES=1

#---------------------
# Driver configuration
#---------------------

# Set this to GCP projectID where you will run the driver.
LTK_DRIVER_PROJECT_ID=

# Set this to GCP zone where you will run the driver.
# To get a list of GCP zones, use the command `gcloud compute zones list`.
LTK_DRIVER_ZONE=

#---------------------
# Target configuration
#---------------------

# Set this to GCP projectID of your IOT application.
LTK_TARGET_PROJECT_ID=

# Set this to GCP region of your IOT application.
LTK_TARGET_REGION=

# Set this to GCP registry of your IOT application.
LTK_TARGET_REGISTRY_ID=




